/*custom properties*/
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

/*Reiniciador*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem=10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/*GLOBALES*/
.contenedor {
    max-width: 120rem; /*1200px, limite superior, max 120rem mientras haya ese espacio pero si no hay usa el width 90%*/
    width: 90%; /*90% del padre, normal*/
    margin: 0 auto; /*centrar horizontalmente*/
    /* width: min(90%, 120rem); */ /*aplica el valor minimo de esos dos*/
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

/*imagenes responsivas*/
img {
    max-width: 100%;
}

/*UTILIDADES*/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/*HEADER*/
.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover; /*tome todo el espacio disponible*/
    background-repeat: no-repeat; /*no repetir img*/
    background-position: center center; /*centrar la imagen verticalmente y horizontalmente*/
}

.header__texto {
    color: var(--blanco);
    text-align: center;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}

.barra{
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    color: var(--blanco);
}

.logo__nombre{
    font-weight: 400;/*normal*/
}

.logo__bold{
    font-weight: 700; /*bold*/
}

/*NAVEGACION*/
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace{
    display: block; /*elementos uno debajo de otro*/
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal{
        display: grid; /*POSICIONAR elementos*/
        grid-template-columns: 2fr 1fr; /*2 partes para el main, 1 parte para el aside*/
        column-gap: 4rem; /*separacion entre columnas*/
    }
}

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

/*seleccionamos el ultimo para quitar el borde y margin*/
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.boton{
    text-transform: uppercase;
    font-weight: bold;
    display: block; /*respeta width y margin, toma todo el espacio*/
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem; /*arriba y abajo 1rem, izquierda y derecha 3rem*/
    font-size: 1.8rem;
    margin-bottom: 2rem;
    border: none;
}

.boton:hover{
    cursor: pointer;    
}

.boton--primario{
    background-color: var(--negro);
}

@media (min-width: 768px) {
    .boton{
        /*display: inline;*/ /*inmune a margin y width. toma el espacio del contenido que requiere nomas*/
        display: inline-block; /*expacio que requiere, y respeta margin y width*/
    }
}

.boton--secundario{
    background-color: var(--primario);
}

.cursos{
    list-style: none;
}

.widget-curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info{
    font-weight: normal;
}

.widget-curso__label, .widget-curso__info{
    font-weight: 2rem;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{
    border: none;
    margin-bottom:0;
}

.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

/*SOBRE NOSOTROS*/
@media (min-width: 768px) {
    /* .sobre-nosotros{
        display: flex;
        gap:2rem
    }

    .sobre-nosotros__imagen, .sobre-nosotros__texto{
        flex-basis: 50%;
    } */

    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 2rem;
        align-items: center; /*alienar verticalmente*/
    }
}


/*CURSOS*/
.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

.curso:last-of-type{
    border: none;
}

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.curso__info{
    font-weight: normal;
}

.curso__label, .curso__info{
    font-weight: 2rem;
}


/*CONTACTO*/
.contacto-bg{
    background-image: url(../img/contacto.jpg) ;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto; /*arriba*/
    width: 95%;
    padding: 5rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo__label{
    /*propiedades en los hijos de flexbox*/
    flex: 0 0 9rem; /*no crecer, no reducir, width fijo 9rem*/
    text-align: right;
    padding-right: 2rem;
}

.campo__field{
    /*propiedades en los hijos de flexbox*/
    flex: 1; /*ocupe todo el espacio disponible*/
    border: 1px solid var(--gris);
}

.campo__field--textarea{
    height: 20rem;
}

/*menor o igual a 768ox*/
@media (max-width: 768px) {
    .campo__field{
        width: 100%;
    }
}